@import './portfolio-page.general.scss';

.portfolio-intro {

  .callout {
    padding-top:50px;
    background:$colorIntroBackground;
    color:$colorIntro;
    z-index:5;
  }

  h1 {
    margin-bottom:30px;
  }

  a {
    color:$colorIntro;
    text-decoration:underline;
  }
}

.technologies-container {
  margin-top:30px;

  img {
    max-height:50px;
    @media screen and (min-width: 40em) {
      max-height:75px;
    }
 }
}