.portfolio-footer {
  font-size:0.8em;
  
  .callout {
    color:#fff;
    background:gray;
    border-left:none;
    border-right:none;
    border-bottom:none;

    a {
      color: #fff;
    }
  }


}