$colorPrimary:              #1779ba;

$colorBackground1:          #ffed4b;
$colorBackground2:          #fdcd3b;

$colorHeaderBackground:     #ffffff;

$colorIntro:                #ffffff;
$colorIntroBackground:      #075587;

$colorFooter:               #000;
$colorFooterBackground:     #ddd;